<!doctype html>
<html >
<head>
  <meta charset="UTF-8">
  
  <!-- Make it compatible to mobile devices -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Skin Cancer Lesion Classifier</title>
 
  
</head>


<body style="background-color: white;">
  <br>
  <br>

<h2 style="color:pink; font-size: 50px;"><center>Skin Cancer Lesion Classifier</center></h2><p>
  <br>
<h4 style="color:pink; font-size: 25px;"><center>Upload an image and click submit</center></h4>
<br>
<br>


<form method="post" action="/" enctype="multipart/form-data">
    <dl>
	<p style="color:pink;">
		<input type="file" name="file" autocomplete="off" required>
    
	</p>
    </dl>
    <p style="color:pink;">
	<input type="submit" name="submit" value="Submit">
    </p>
</form>


<p style="color:MediumSeaGreen;">
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
        <center>Diagnosis for the following image is: {{ messages[0] }}<br></center>
        <center><img src="{{ messages[1] }}" width="300", height="225"></center>
       
	  {% endif %}
	{% endwith %}
</p>



</body>


